* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.main
 {
    background-color: rgb(217, 232, 244);
    display: flex;
    justify-content: space-between;
    height: 9vh;
}

.Klinik-desc {
    margin-left: 40px;
    margin-top: 15px;
}

.Klinik-desc span {
    margin-left: 10px;
}

.Klinik-desc i {
    margin-left: 20px;
    margin-right: -5px;
}

.Klinik-img {
    display: flex;
    margin-right: 70px;

}

.contact {
    margin-top: 15px;

}

.icon {
    display: flex;
    margin-left: 5px;
}

.icon i {
    height: 32px;
    width: 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 30px;
    font-size: 17px;
    margin-top: 9px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 7vh;
}

.logo {
    margin-left: 60px;
    margin-top: 5px;
}

.logo i {
    font-size: 25px;

}

.logo span {
    color: #0e5add;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.menu ul {
    display: flex;

}

.menu ul li {
    list-style: none;
    margin: 10px;
    padding-top: 2px;
    font-family: 'Poppins', sans-serif;
}

.menu ul button {
    border: none;
    background-color: #0e5add;
    color: white;
    width: 9vw;
    height: 7vh;
    font-size: 16px;
}

.menu ul i {
    margin-left: 10px;
}

.home {
    display: flex;
    height: 80vh;
    width: 100%;
}

.content {
    width: 50%;
    background-color: #0e5add;
    height: 100%;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: left;
    margin-left: 60px;
    margin-top: 160px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.service {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 30px;

}

.service h2 {
    font-size: 30px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.service p {
    font-size: 18px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.expert {
    border-left: 1px solid white;
}

.medical {
    border-left: 1px solid white;
}

.total {
    border-left: 1px solid white;
}

.img {
    background-image: url('https://cdn.pixabay.com/photo/2021/10/11/17/37/doctor-6701410_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;

}

.img h1 {
    display: flex;
    justify-content: center;
    margin-top: 260px;
    text-align: center;
    color: #d2e1fc;
    font-family: 'Poppins', sans-serif;

}